<section class="container mx-auto mt-13 mb-48 p-4 text-shadow-white" id="contact">
  <a class="font-mono text-base hover:text-cyan-500">03. Want to Connect?</a>
  <h2 class="text-3xl md:text-5xl font-bold text-center mt-13">Get In Touch</h2>
  <p class="mt-4 text-gray-700/70 text-xs max-w-2xl mx-auto">
    I’m currently open to new opportunities. Whether you have a question or just want to say hi, my
    inbox is always open.
  </p>
  <div class="mt-8 mx-auto max-w-2xl">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="grid gap-5">
      <div>
        <div>
          <label class="block text-sm mb-2">Name</label>
          <input
            formControlName="name"
            type="text"
            class="w-full rounded-md bg-accent/20 border px-4 py-2 focus:outline-none focus:ring-2"
            placeholder="Your Name"
          />
          @if (formInput['name'].touched && formInput['name'].invalid) {
          <p class="mt-1 text-xs text-red-400">Please enter at least 2 characters.</p>
          }
        </div>
        <div>
          <label class="block text-sm mb-2 mt-4">Email</label>
          <input
            formControlName="email"
            type="email"
            class="w-full rounded-md bg-accent/20 border px-4 py-2 focus:outline-none focus:ring-2"
            placeholder="Your Email"
          />
          @if (formInput['email'].touched && formInput['email'].invalid) {
          <p class="mt-1 text-xs text-red-400">Please enter valid email address.</p>
          }
        </div>
        <div>
          <label class="block text-sm mb-2 mt-4">Message</label>
          <input
            formControlName="message"
            type="email"
            rows="5"
            class="w-full rounded-md bg-accent/20 border px-4 py-2 focus:outline-none focus:ring-2"
            placeholder="How can i help?"
          />
          @if (formInput['message'].touched && formInput['message'].invalid) {
          <p class="mt-1 text-xs text-red-400">Message must be at least 10 characters.</p>
          }
        </div>
      </div>
      <div class="gap-4">
        <button
          type="submit"
          [disabled]="loading() || contactForm.invalid"
          class="rounded-md px-3.5 py-2.5 text-sm font-semibold bg-gray-900 text-white hover:bg-gray-100 hover:text-gray-600 self-center"
        >
          @if(!loading()) {<span>Send Message</span>} @else {
          <span class="inline-flex items-center gap-2">
            <svg class="animate-spin h-5 w-5" viewBox="0 0 50 50">
              <circle
                class="opacity-30"
                cx="25"
                cy="25"
                r="20"
                stroke="currentColor"
                stroke-width="5"
                fill="none"
              />
              <circle
                class=""
                cx="25"
                cy="25"
                r="20"
                stroke="currentColor"
                stroke-width="5"
                fill="none"
                stroke-dasharray="100"
                stroke-dashoffset="75"
              />
            </svg>
            Sending...
          </span>
          }
        </button>
        @if(submitted()) {
        <p class="py-1.5 text-sm font-semibold text-green-700">
          Thanks! I'll get back to you shortly!
        </p>
        }
      </div>
    </form>
  </div>
</section>
