<footer class="border-t w-[90svw] mx-auto py-16">
  <div class="flex justify-center gap-5">
    @for(socials of allSocialLinks(); track socials.name) {
    <a
      [href]="socials.url"
      target="_blank"
      class="text-gray-500 hover:text-cyan-500 font-light text-xs transition-all duration-300 hover:scale-125"
      aria-label="link to my social media"
    >
      <span class="sr-only">{{ socials.name }}</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="1.5"
      >
        <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="socials.svgPath" />
      </svg>
    </a>
    }
  </div>
  <div class="container text-center text-gray-500">
    <span class="text-sm">Built by Alexis Dela Torre · {{ year() }}</span>
    <br />
    <span class="text-sm font-light">Powered 🚀 by Angular & TailwindCSS</span><br />
    <p class="text-xs font-extralight">Inspired by Brittany Chiang's v4 Design</p>
  </div>
</footer>
