<section
  class="container min-h-[70svh] md:min-h-[85svh] grid place-items-center md:place-items-start py-24 w-[90svw] mx-auto"
  id="top"
>
  <div class="w-full max-w-4xl px-10">
    <p class="font-mono mb-4">Hi, my name is</p>
    <h1 class="text-4xl md:text-6xl font-extrabold leading-tight text-gray-900">
      Alexis Dela Torre
    </h1>
    <h2 class="text-3xl md:text-5xl font-bold text-gray-500">something that alexis do</h2>
    <p class="mt-6 max-w-2xl text-gray-700 font-light">
      some description about a summary of alexis; like alexis is a software engineer who... (oh what
      a dream!)
    </p>
    <div class="mt-10">
      <a
        href=""
        class="rounded-md bg-gray-900 hover:bg-gray-50 hover:text-gray-900 px-3.5 py-2.5 text-sm font-semibold text-white"
        >Say hello!</a
      >
      <a
        href=""
        class="rounded-md px-3.5 py-2.5 text-sm font-semibold text-gray-900 hover:bg-gray-100 hover:text-gray-600"
        >Resume <span aria-hidden="true">→</span></a
      >
    </div>
  </div>
</section>
